{{#if v2}}
<div class="flex group">
    <div class="container-fluid p-0 m-0">
        <div class="row">
        <div class="col-xs-1 mr-1">
            {{#if isReview}} 
            <span class="icon icon-large"><svg version="1.1" width="16" height="16" class="octicon octicon-review" aria-hidden="true" viewBox="0 0 24 24"><path d="M 10.994141 1.9824219 C 6.0341704 1.9824219 1.9941406 6.0224519 1.9941406 10.982422 C 1.9941406 15.942392 6.0341704 19.982422 10.994141 19.982422 C 12.964962 19.982422 14.784932 19.337784 16.269531 18.257812 L 19.498047 21.486328 C 20.049047 22.037328 20.941188 22.037328 21.492188 21.486328 L 21.498047 21.480469 C 22.049047 20.929469 22.049047 20.036328 21.498047 19.486328 L 18.269531 16.257812 C 19.349503 14.773214 19.994141 12.953244 19.994141 10.982422 C 19.994141 6.0224519 15.95411 1.9824219 10.994141 1.9824219 z M 10.994141 3.9824219 C 14.874171 3.9824219 17.994141 7.1023916 17.994141 10.982422 C 17.994141 14.862452 14.874171 17.982422 10.994141 17.982422 C 7.1141101 17.982422 3.9941406 14.862452 3.9941406 10.982422 C 3.9941406 7.1023916 7.1141101 3.9824219 10.994141 3.9824219 z M 8.6269531 7.8320312 C 8.244125 7.7589531 7.8376719 7.9147656 7.6074219 8.2597656 L 6.1621094 10.427734 C 5.9381094 10.763734 5.9381094 11.201109 6.1621094 11.537109 L 7.6074219 13.705078 C 7.9144219 14.165078 8.5341406 14.288422 8.9941406 13.982422 C 9.4531406 13.675422 9.5774844 13.055703 9.2714844 12.595703 L 8.1972656 10.982422 L 9.2714844 9.3691406 C 9.5784844 8.9091406 9.4541406 8.2884219 8.9941406 7.9824219 C 8.8791406 7.9056719 8.7545625 7.8563906 8.6269531 7.8320312 z M 13.363281 7.8320312 C 13.235672 7.8562656 13.109141 7.9059219 12.994141 7.9824219 C 12.535141 8.2894219 12.41275 8.9091406 12.71875 9.3691406 L 13.792969 10.982422 L 12.71875 12.595703 C 12.41175 13.055703 12.534141 13.676422 12.994141 13.982422 C 13.454141 14.289422 14.075812 14.164125 14.382812 13.703125 L 15.826172 11.535156 C 16.050172 11.199156 16.050172 10.763734 15.826172 10.427734 L 14.382812 8.2597656 C 14.152562 7.9155156 13.746109 7.7593281 13.363281 7.8320312 z"></path></svg></span>
            {{else}}
                {{#if isIssue}}
                <span class="icon icon-large">
                    <svg version="1.1" width="16" height="16" class="octicon octicon-issue" aria-hidden="true" viewBox="0 0 30 30"><path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 10.03125 2.9042969 A 1.0001 1.0001 0 0 0 9.0605469 4.2578125 C 9.0605469 4.2578125 9.7494688 5.9996671 11.488281 7.0800781 C 11.080693 7.2039808 10.414387 7.5446908 9.8027344 8.4570312 C 9.4322834 8.3403526 9.1037156 8.2185154 8.8496094 8.0976562 C 8.3997876 7.8837103 8.118603 7.6807271 7.9589844 7.546875 C 7.7993657 7.4130229 7.8046875 7.40625 7.8046875 7.40625 A 1.0001 1.0001 0 0 0 7 7 L 5 7 A 1.0001 1.0001 0 1 0 5 9 L 6.5957031 9 C 6.6368531 9.038228 6.6271651 9.038995 6.6738281 9.078125 C 6.961397 9.3192729 7.3888062 9.6162897 7.9902344 9.9023438 C 9.1930908 10.474451 11.083447 11 13.935547 11 A 1.0001 1.0001 0 0 0 14.140625 10.980469 C 14.430223 10.987386 14.697172 11 15.017578 11 C 15.326932 11 15.582943 10.988887 15.863281 10.982422 A 1.0001 1.0001 0 0 0 16.064453 11 C 18.916553 11 20.806909 10.474451 22.009766 9.9023438 C 22.611194 9.6162897 23.038603 9.3192729 23.326172 9.078125 C 23.372834 9.0389949 23.363147 9.0382279 23.404297 9 L 25 9 A 1.0001 1.0001 0 1 0 25 7 L 23 7 A 1.0001 1.0001 0 0 0 22.195312 7.40625 C 22.195312 7.40625 22.200612 7.41302 22.041016 7.546875 C 21.881397 7.6807271 21.600212 7.8837103 21.150391 8.0976562 C 20.891444 8.2208175 20.55751 8.3444389 20.177734 8.4628906 C 19.558423 7.539139 18.907199 7.1978378 18.517578 7.0761719 C 20.252095 5.9954925 20.939453 4.2578125 20.939453 4.2578125 A 1.0001 1.0001 0 0 0 20.039062 2.9042969 A 1.0001 1.0001 0 0 0 19.060547 3.5761719 C 19.060547 3.5761719 18.556779 5.088719 16.882812 5.6757812 C 16.36708 5.2573881 15.71568 5 15 5 C 14.284868 5 13.632808 5.2576596 13.117188 5.6757812 C 11.443221 5.088719 10.939453 3.5761719 10.939453 3.5761719 A 1.0001 1.0001 0 0 0 10.03125 2.9042969 z M 5.9628906 11 A 1.0001 1.0001 0 0 0 5.6835938 11.050781 L 2.6835938 12.050781 A 1.0005646 1.0005646 0 0 0 3.3164062 13.949219 L 5.9707031 13.064453 C 6.0672386 13.111686 6.3494962 13.235909 6.5917969 13.34375 C 6.2888038 14.107541 6 15.15686 6 16.425781 C 6 17.948961 6.3086267 19.289595 6.7949219 20.453125 L 6.1601562 22.357422 L 3.4453125 24.167969 A 1.0001 1.0001 0 1 0 4.5546875 25.832031 L 7.5546875 23.832031 A 1.0001 1.0001 0 0 0 7.9492188 23.316406 L 8.1367188 22.751953 C 9.8000084 24.902319 11.988204 26 13 26 C 13.742 26 14 25.42 14 25 L 14 16 C 14 15.447 14.448 15 15 15 C 15.552 15 16 15.447 16 16 L 16 25 C 16 25.42 16.258 26 17 26 C 18.011796 26 20.199992 24.902319 21.863281 22.751953 L 22.050781 23.316406 A 1.0001 1.0001 0 0 0 22.445312 23.832031 L 25.445312 25.832031 A 1.0001 1.0001 0 1 0 26.554688 24.167969 L 23.839844 22.357422 L 23.205078 20.453125 C 23.691373 19.289595 24 17.948961 24 16.425781 C 24 15.15686 23.711196 14.107541 23.408203 13.34375 C 23.650504 13.235909 23.932762 13.111686 24.029297 13.064453 L 26.683594 13.949219 A 1.0005646 1.0005646 0 1 0 27.316406 12.050781 L 24.316406 11.050781 A 1.0001 1.0001 0 0 0 24.021484 11 A 1.0001 1.0001 0 0 0 23.552734 11.105469 C 23.552734 11.105469 20.660591 12.508607 17.513672 12.896484 C 16.740098 12.956149 15.915495 13 15 13 C 14.084505 13 13.259902 12.956149 12.486328 12.896484 C 9.3394093 12.508607 6.4472656 11.105469 6.4472656 11.105469 A 1.0001 1.0001 0 0 0 5.9628906 11 z"></path></svg>
                </svg>
            </span>	
                {{/if}}
            {{/if}}
        </div>
        <div class="col-xs-11">
            <div style="font-size:16px;" class="text description">{{title}}</div>            
        </div>
        </div>
        <div class="col-xs-12">
            <div class="subtitle">Opened <time class="timeago" datetime="{{createdAtIso}}">{{createdAt}}</time> by {{username}}{{#if addendum}} - {{addendum}}{{/if}}</div>
        </div>
    </div>
</div>
{{else}}
    {{#if showComment}}
    <div class="flex group">
        {{#if hasEmailHashOrAuthorInitials}}
            <div class="headshot">
                <img style="position:absolute; z-index:2;" class="headshot-image"
                    src="https://www.gravatar.com/avatar/{{emailHash}}?s=20&d=blank" />
                <span class="headshot-initials">{{authorInitials}}</span>
            </div>
        {{/if}}
        <div>
            <div class="posted-on">
                <span class="author">{{username}}</span>
                <span class="time">{{createdAt}}</span>
            </div>
        </div>
    </div> 
    {{#if isIssue}}							
        <span class="title">{{title}}</span>
    {{else}}
        <span class="title">{{{text}}}</span>
    {{/if}}    
    {{/if}}
{{/if}}