<!DOCTYPE html>
<html>

<head>
	<title>CodeStream</title>
	<link rel="dns-prefetch" href="https://images.codestream.com">
	<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
	{{> partial_html_head partial_html_head_model}}
	<script type="text/javascript">
		!function () {
			var analytics = window.analytics = window.analytics || []; if (!analytics.initialize) if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice."); else {
				analytics.invoked = !0; analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on"]; analytics.factory = function (t) { return function () { var e = Array.prototype.slice.call(arguments); e.unshift(t); analytics.push(e); return analytics } }; for (var t = 0; t < analytics.methods.length; t++) { var e = analytics.methods[t]; analytics[e] = analytics.factory(e) } analytics.load = function (t, e) { var n = document.createElement("script"); n.type = "text/javascript"; n.async = !0; n.src = "https://cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(n, a); analytics._loadOptions = e }; analytics.SNIPPET_VERSION = "4.1.0";
				analytics.load("{{segmentKey}}");
				analytics.page();
			}
		}();
	</script>
</head>

<body>
	{{{identifyScript}}}
	<script>
		window.analytics.track('Page Viewed', { 'Page Name': '{{codemarkType}}' });
	</script>
	{{!-- <script>
		history.pushState(null, "CodeStream", location.href.split("?")[0]);
	</script> --}}

	{{> partial_menu partial_menu_model}}

	<div id="alert-wrapper"></div>
	<div class="container-fluid" id="root">
		<div class="row">
			<div class="col-sm-8 offset-sm-2">
				<div class="box-content box-border box-border-sm">
					 
					{{#if showComment}}
					<div class="flex">
						{{#if hasEmailHashOrAuthorInitials}}
						<div class="headshot">
							<img style="position:absolute; z-index:2;" class="headshot-image"
								src="https://www.gravatar.com/avatar/{{emailHash}}?s=20&d=blank" />
							<span class="headshot-initials">{{authorInitials}}</span>
						</div>
						{{/if}}
						<div>
							<div class="posted-on">
								<span class="author">{{username}}</span>
								<span class="time">{{createdAt}}</span>
							</div>
						</div>
					</div>
					{{/if}}
					{{#if showComment}}
						{{#if isIssue}}							
							<span class="title">{{title}}</span>							
						{{else}}
							<span class="title">{{{text}}}</span>
						{{/if}}

					{{#if hasTagsOrAssignees}}
					<div class="row no-gutters mt-4">
						{{#if tags}}
						<div class="col-sm-6">
							<h6>TAGS</h6>
						</div>
						{{/if}}
						{{#if assignees}}
						<div class="col-sm-6">
							<h6>ASSIGNEES</h6>
						</div>
						{{/if}}
					</div>
					<div class="row no-gutters mt-1">
						{{#if tags}}
							<div class="col-sm-6">
								{{#tags}}
									{{#if label}}
									<span class="label label-square" style="background-color:{{color}};">
										{{label}}
									</span>
									{{/if}}
									{{^label}}
									<span class="label label-square label-empty" style="background-color:{{color}};">
										&#8291;
									</span>
									{{/label}}
								{{/tags}}
							</div>
						{{/if}}
						{{#if assignees}}
						<div class="col-sm-6">
							{{#assignees}}
							<div class="assignee-wrapper">
								{{#if initials}}
								<span class="headshot-initials-inline" title="{{tooltip}}">{{initials}}</span>
								{{/if}}
								<span title="{{tooltip}}">{{label}}</span>
							</div>
							{{/assignees}}
						</div>
						{{/if}}
					</div>
					{{/if}}


					{{#if isIssue}}
						{{#if text}}
							<div class="row no-gutters mt-4">
								<div class="col-sm-12">
									<h6>DESCRIPTION</h6>
								</div>
							</div>						
							<div class="row no-gutters mt-0">
								<div class="col-sm-12">									
									<div class="description">											
											<span class="icon">
												<svg version="1.1" width="16" height="16" class="octicon octicon-description" aria-hidden="true" viewBox="0 0 24 24"><path d="M 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 4 3 z M 4 7 A 1.0001 1.0001 0 1 0 4 9 L 15 9 A 1.0001 1.0001 0 1 0 15 7 L 4 7 z M 4 11 A 1.0001 1.0001 0 1 0 4 13 L 20 13 A 1.0001 1.0001 0 1 0 20 11 L 4 11 z M 4 15 A 1.0001 1.0001 0 1 0 4 17 L 15 17 A 1.0001 1.0001 0 1 0 15 15 L 4 15 z M 4 19 A 1.0001 1.0001 0 1 0 4 21 L 20 21 A 1.0001 1.0001 0 1 0 20 19 L 4 19 z"></path>
												</svg>
											</span>											
										{{{text}}}				
									</div>				 									
								</div>
							</div>
						{{/if}}
					{{/if}}
						{{#if externalProvider}}
						<div class="row no-gutters mt-3">
							<div class="col-sm-12">
								<h6>LINKED ISSUES</h6>
							</div>
						</div>
				
					<div class="row no-gutters mt-0">
						<div class="col-sm-12">						 
							<a href="#"
								onclick='event.preventDefault();window.analytics.track("Opened Issue", { Service: "{{externalProvider}}" }); window.open("{{externalProviderUrl}}", "_blank")'>
							{{#if externalProviderIcon}}{{{externalProviderIcon}}}{{/if}}{{externalProvider}} {{externalProviderUrl}}
							</a>
						</div>
					</div>
					{{/if}}
					
						{{#if relatedCodemarks}}
						<div class="row no-gutters mt-3">
							<div class="col-sm-12">
								<h6>RELATED</h6>
							</div>
						</div>
						<div class="row no-gutters mt-0">
							<div class="col-sm-12">
								{{#relatedCodemarks}}
								<div class="related-codemark">
									<a href="{{url}}" class="related-codemark-link">
										{{#if icon}}{{{icon}}}{{/if}}									
										{{title}}
										<span class="related-codemark-file">{{file}}</span>
									</a>
								</div>
								{{/relatedCodemarks}}
							</div>
						</div>
						{{/if}}
					{{/if}}
					{{#markers}}
						{{> partial_marker this}}
					{{/markers}}
				</div>
			</div>
		</div>
	</div>
	</div>
	<script>
		$(function () {
			
			/*
			var isExpanded;
			//$('[data-code-provider=""]').click(function(e) {
			//	window.analytics.track("Opened Code", { Host: "{{codeProvider}}" })
			//})
			
			$('[data-action-expand]').click(function (e) {
				e.preventDefault();

				var $this = $(this);
				var val = $this.attr("data-action-expand");
				if (val) {
					var target = $('[data-action-expand-id="' + val + '"]');
					if (target && target.length) {
						if (target.css('max-height') !== 'none') {
							isExpanded = true;
							target.css('max-height', 'none');
							$this.html('<svg class="octicon octicon-fold" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7 9l3 3H8v3H6v-3H4l3-3zm3-6H8V0H6v3H4l3 3 3-3zm4 2c0-.55-.45-1-1-1h-2.5l-1 1h3l-2 2h-7l-2-2h3l-1-1H1c-.55 0-1 .45-1 1l2.5 2.5L0 10c0 .55.45 1 1 1h2.5l1-1h-3l2-2h7l2 2h-3l1 1H13c.55 0 1-.45 1-1l-2.5-2.5L14 5z"></path></svg>').attr('title', 'collapse code');
						}
						else {
							isExpanded = false;
							target.css('max-height', '275px');
							$this.html('<svg class="octicon octicon-unfold" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M11.5 7.5L14 10c0 .55-.45 1-1 1H9v-1h3.5l-2-2h-7l-2 2H5v1H1c-.55 0-1-.45-1-1l2.5-2.5L0 5c0-.55.45-1 1-1h4v1H1.5l2 2h7l2-2H9V4h4c.55 0 1 .45 1 1l-2.5 2.5zM6 6h2V3h2L7 0 4 3h2v3zm2 3H6v3H4l3 3 3-3H8V9z"></path></svg>').attr('title', 'expand code');
						}
					}
				}
			})

			var toggleCodeControls = function(){
				var wrapper = $('.code-wrapper');
				if (wrapper && wrapper.length) {
					var $control = $('[data-action-code-controls="{{markerId}}"]');
					if (wrapper[0].clientHeight < wrapper[0].scrollHeight) {
						$control.show();
					}
					else if(!isExpanded) {
						$control.hide();
					}
				}
			}
			$(window).resize(function () {
				toggleCodeControls();
			});

			toggleCodeControls();
			*/
		})
	</script>
	<script>
		(function (f) { if (typeof exports === "object" && typeof module !== "undefined") { module.exports = f() } else if (typeof define === "function" && define.amd) { define([], f) } else { var g; if (typeof window !== "undefined") { g = window } else if (typeof global !== "undefined") { g = global } else if (typeof self !== "undefined") { g = self } else { g = this } g.protocolCheck = f() } })(function () {
			var define, module, exports; return (function e(t, n, r) { function s(o, u) { if (!n[o]) { if (!t[o]) { var a = typeof require == "function" && require; if (!u && a) return a(o, !0); if (i) return i(o, !0); var f = new Error("Cannot find module '" + o + "'"); throw f.code = "MODULE_NOT_FOUND", f } var l = n[o] = { exports: {} }; t[o][0].call(l.exports, function (e) { var n = t[o][1][e]; return s(n ? n : e) }, l, l.exports, e, t, n, r) } return n[o].exports } var i = typeof require == "function" && require; for (var o = 0; o < r.length; o++)s(r[o]); return s })({
				1: [function (require, module, exports) {
					function _registerEvent(target, eventType, cb) {
						if (target.addEventListener) {
							target.addEventListener(eventType, cb);
							return {
								remove: function () {
									target.removeEventListener(eventType, cb);
								}
							};
						} else {
							target.attachEvent(eventType, cb);
							return {
								remove: function () {
									target.detachEvent(eventType, cb);
								}
							};
						}
					}

					function _createHiddenIframe(target, uri) {
						var iframe = document.createElement("iframe");
						iframe.src = uri;
						iframe.id = "hiddenIframe";
						iframe.style.display = "none";
						target.appendChild(iframe);

						return iframe;
					}

					function _createDetachedHiddenIframe() {
						var iframe = document.createElement("iframe");
						iframe.id = "hiddenDetachedIframe";
						iframe.style.display = "none";
						return iframe;
					}

					function openUriWithHiddenFrame(uri, failCb, successCb) {

						var timeout = setTimeout(function () {
							failCb();
							handler.remove();
						}, 1000);

						var iframe = document.querySelector("#hiddenIframe");
						if (!iframe) {
							iframe = _createHiddenIframe(document.body, "about:blank");
						}

						var handler = _registerEvent(window, "blur", onBlur);

						function onBlur() {
							clearTimeout(timeout);
							handler.remove();
							successCb();
						}

						iframe.contentWindow.location.href = uri;
					}

					function openUriWithTimeoutHack(uri, failCb, successCb) {

						var timeout = setTimeout(function () {
							failCb();
							handler.remove();
						}, 1000);

						//handle page running in an iframe (blur must be registered with top level window)
						var target = window;
						while (target != target.parent) {
							target = target.parent;
						}

						var handler = _registerEvent(target, "blur", onBlur);

						function onBlur() {
							clearTimeout(timeout);
							handler.remove();
							successCb();
						}

						window.location = uri;
					}

					function openUriUsingFirefox(uri, failCb, successCb) {						
						openUriWithTimeoutHack(uri, failCb, successCb);
						//openUriUsingIE10InWindows7(uri, failCb, successCb);
						//openUriUsingWickedInsaneHackery(uri, failCb, successCb);
						/*
						return;
						var iframe = document.querySelector("#hiddenIframe");

						if (!iframe) {
							iframe = _createHiddenIframe(document.body, "about:blank");
						}

						try {
							iframe.contentWindow.location.href = uri;
							successCb();
						} catch (e) {
							if (e.name == "NS_ERROR_UNKNOWN_PROTOCOL") {
								failCb();
							}
						}
						*/
					}
					

					function openUriUsingIEInOlderWindows(uri, failCb, successCb) {
						if (getInternetExplorerVersion() === 10) {
							openUriUsingIE10InWindows7(uri, failCb, successCb);
						} else if (getInternetExplorerVersion() === 9 || getInternetExplorerVersion() === 11) {
							openUriWithHiddenFrame(uri, failCb, successCb);
						} else {
							openUriInNewWindowHack(uri, failCb, successCb);
						}
					}

					function openUriUsingWickedInsaneHackery(uri, failCb, successCb) {
						var succeded = false;
 						var timeout;						

						var handler = function () {
								console.log('blurred -- success')
								window.removeEventListener("blur", handler);
								if (timeout) {
									clearTimeout(timeout);
								}
								succeded = true
								successCb();								
						};
						 
						var inner = function() {							
							if (timeout) {
								clearTimeout(timeout);
							}
							timeout = setTimeout(function() {
									window.removeEventListener("blur", handler);
									failCb();
							}, 5000);
							
							window.removeEventListener("blur", handler);
							window.addEventListener("blur", handler);
							
							var iframe = document.querySelector("#hiddenIframe");							
							
							if (!iframe) {
								iframe = _createHiddenIframe(document.body, "about:blank");								
							}							
							try {																
								iframe.contentWindow.location.href = uri;																
							} catch (e) {								
								window.removeEventListener("blur", handler);								
								failCb();
								clearTimeout(timeout);								
							}		
						}	
						var i = 0;
						var foo = function() {
							if (!succeded) {
								inner();
							}
							if (succeded) {
								clearInterval(poop);
								return;
							}
							i++;
							console.log(i);
						}
						var poop = setInterval(foo, 250);						 			
					}

					function openUriUsingIE10InWindows7(uri, failCb, successCb) {
						var timeout = setTimeout(function() {
							window.removeEventListener("blur", handler);
							failCb();
						}, 2000);
						
						var handler = function () {
							window.removeEventListener("blur", handler);
							clearTimeout(timeout);
							successCb();
						};
						window.addEventListener("blur", handler);

						var iframe = document.querySelector("#hiddenIframe");
						if (!iframe) {
							iframe = _createHiddenIframe(document.body, "about:blank");
						}
						try {
							iframe.contentWindow.location.href = uri;
						} catch (e) {
							window.removeEventListener("blur", handler);
							failCb();
							clearTimeout(timeout);
						}						 			
					}

					function openUriInNewWindowHack(uri, failCb, successCb) {
						var myWindow = window.open('', '', 'width=0,height=0');

						myWindow.document.write("<iframe src='" + uri + "'></iframe>");

						setTimeout(function () {
							try {
								myWindow.location.href;
								myWindow.setTimeout("window.close()", 1000);
								successCb();
							} catch (e) {
								myWindow.close();
								failCb();
							}
						}, 1000);
					}

					function openUriWithMsLaunchUri(uri, failCb, successCb) {
						navigator.msLaunchUri(uri,
							successCb,
							failCb
						);
					}

					function checkBrowser() {
						var isOpera = !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
						var ua = navigator.userAgent.toLowerCase();
						return {
							isOpera: isOpera,
							isFirefox: typeof InstallTrigger !== 'undefined',
							isSafari: (~ua.indexOf('safari') && !~ua.indexOf('chrome')) || Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0,
							isIOS: /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream,
							isChrome: !!window.chrome && !isOpera,
							isIE: /*@cc_on!@*/false || !!document.documentMode // At least IE6
						}
					}

					function getInternetExplorerVersion() {
						var rv = -1;
						if (navigator.appName === "Microsoft Internet Explorer") {
							var ua = navigator.userAgent;
							var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
							if (re.exec(ua) != null)
								rv = parseFloat(RegExp.$1);
						}
						else if (navigator.appName === "Netscape") {
							var ua = navigator.userAgent;
							var re = new RegExp("Trident/.*rv:([0-9]{1,}[\.0-9]{0,})");
							if (re.exec(ua) != null) {
								rv = parseFloat(RegExp.$1);
							}
						}
						return rv;
					}

					module.exports = function (uri, failCb, successCb, unsupportedCb) {
						function failCallback() {
							failCb && failCb();
						}

						function successCallback() {
							successCb && successCb();
						}

						if (navigator.msLaunchUri) { //for IE and Edge in Win 8 and Win 10
							openUriWithMsLaunchUri(uri, failCb, successCb);
						} else {
							var browser = checkBrowser();

							if (browser.isFirefox) {
								openUriUsingFirefox(uri, failCallback, successCallback);
							} else if (browser.isChrome || browser.isIOS) {
								openUriWithTimeoutHack(uri, failCallback, successCallback);
							} else if (browser.isIE) {
								openUriUsingIEInOlderWindows(uri, failCallback, successCallback);
							} else if (browser.isSafari) {
								openUriWithHiddenFrame(uri, failCallback, successCallback);
							} else {
								unsupportedCb();
								//not supported, implement please
							}
						}
					}

				}, {}]
			}, {}, [1])(1)
		});
	</script>

	<script>
		$(function () {
			window.CODESTREAM = {} || window.CODESTREAM;
			
			function getCookie(cname) {
				var name = cname + "=";
				var decodedCookie = decodeURIComponent(document.cookie);
				var ca = decodedCookie.split(';');
				for (var i = 0; i < ca.length; i++) {
					var c = ca[i];
					while (c.charAt(0) == ' ') {
						c = c.substring(1);
					}
					if (c.indexOf(name) == 0) {
						return c.substring(name.length, c.length);
					}
				}
				return "";
			}

			function setCookie(cname, cvalue, exdays) {
				var d = new Date();
				d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
				var expires = "expires=" + d.toUTCString();
				document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
			}

			function createSelected(el, markerId){
				var $thing = $(el.outerHTML)
				
				.attr('data-marker-id', markerId).removeClass('dropdown-item')
				.addClass('selected-ide btn btn-sm btn-block form-control btn-open-in')
				.on('click', function(e) {					
					window.CODESTREAM.openEditor(e, $thing, $thing.attr('data-marker-id'));
				});
				var html = $thing.html();
				if (html.indexOf('Open in') === -1) {
					html = 'Open in '+html;
				}
				$thing.html(html);
				return $thing;
			}

			function setSelected($el) {								 
				$('.ide-list .selected-ide').remove();
				for(var i = 0; i< $('.ide-list').length; i++){
					var $item = $($('.ide-list')[i]);
					$item.prepend(
						createSelected($el[0], $item.attr('data-marker-id'))
					)
				}						 
			}

		window.CODESTREAM.openEditor = function(e, $el, markerId) {				
			e.preventDefault();
			
			if (!markerId) {
				console.error('missing markerId');
				return;
			}			

			var protocolStart = $el.attr('data-ide-protocol');
			var ideName = $el.attr('data-ide-name');
			var moniker = $el.attr('data-ide-moniker');
			var downloadUrl = $el.attr('data-ide-download-url');
			var repoId = $el.attr('data-repo-id');				
			var protocol = protocolStart + 'codemark/{{codemarkId}}/open?repoId='+repoId+'&marker='+markerId;

			setSelected($el);			

			if (moniker.indexOf('jb-') === 0) {
				var fileName = '{{rawFileName}}';
				protocol+=`&controller=codemark&id={{codemarkId}}&action=open&file=${encodeURIComponent(fileName)}`;
			}

			var $existingAlert = $('.alert');
			if ($existingAlert.length) {
				$existingAlert.alert('close');
			}

			var timeout = setTimeout(function () {
				createBanner(ideName, protocolStart, downloadUrl);
			}, 1000);
			var startTime = new Date();
			// set the cookie inside both of the callbacks -- in the case of firefox, neither will get hit, but 
			// rather, will throw an exception that is un-recoverable (so we don't want to set the cookie in that case)
			window.protocolCheck(protocol,
				function () {
					//fail					
					setCookie('cs__ide-mru--{{repoId}}', moniker);
					window.analytics.track("Opened in IDE", { IDE: moniker, "Protocol Handled": false });
					console.log(`CodeStream: failed in ${(new Date() - startTime)/1000}s for Moniker=${moniker} Path=${protocol}`);
				}, function () {
					//success					
					clearTimeout(timeout);
					setCookie('cs__ide-mru--{{repoId}}', moniker);
					window.analytics.track("Opened in IDE", { IDE: moniker, "Protocol Handled": true });
					console.log(`CodeStream: success in ${(new Date() - startTime)/1000}s for Moniker=${moniker} Path=${protocol}`);
			});			
		}

			function createBanner(ide, protocol, downloadUrl) {
				var $existingAlert = $('.alert');
				if ($existingAlert.length) {
					$existingAlert.alert('close');
				}
				var message = `Launching ${ide}... If nothing happens, download the <a href='${downloadUrl}'>CodeStream</a> extension for ${ide} and`;

				if (protocol.indexOf('jetbrains') > -1) {
					message += ' the <a href="https://www.jetbrains.com/toolbox/app/" target="_blank">Jetbrains Toolbox App</a> and';
				}
				message += ' try again';

				var $alert = $(`<div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
					<span class="alert-text">
						${message}
					</span>
					<button type = "button" class="close" data-dismiss="alert" aria-label="Close" >
						<span aria-hidden="true">&times;</span>
					</button >
				</div>`);
				$('#alert-wrapper').append($alert);
				$alert.show();
			}

			function createInstallBanner() {
				var text = 'Ensure the <a href="https://www.codestream.com/roadmap" target="_blank">CodeStream extension</a> for your IDE is installed. Jetbrains users also need the <a href="https://www.jetbrains.com/toolbox/app/" target="_blank">Jetbrains Toolbox App</a>. ';	
				if (!$('.alert').length) {
					createMessage(text);
					$('#alert-wrapper').append($alert);										
				}
				else {
					// already a banner there? append the text
					var innerHtml = $('.alert .alert-text').html();
					$('.alert .alert-text').html(innerHtml + '<br>' + text);				 
				}
			}

			function createMessage(message) {
				var $existingAlert = $('.alert');
				if ($existingAlert.length) {
					$existingAlert.alert('close');
				}

				var $alert = $(`<div class="alert alert-info alert-dismissible fade show text-center" role="alert">
						<span class="alert-text">
						${message}
						</span>
						<button type = "button" class="close" data-dismiss="alert" aria-label="Close" >
							<span aria-hidden="true">&times;</span>
						</button >
					</div>`);
				$('#alert-wrapper').append($alert);
				$alert.show();
			}			

			var mru = getCookie("cs__ide-mru--{{repoId}}");
			if (mru) {
				var u = $('[data-element-ide-list]').find('[data-ide-moniker="' + mru + '"]');
				if (u && u.length) {
					setSelected(u);					
				}
				else {
					var a = $('[data-element-ide-list]').find('a');
					if (a && a.length) {
						setSelected(a);						
					}
				}
			}
			else {
				var a = $('[data-element-ide-list]').find('a');
				if (a && a.length) {
					setSelected(a);					
				}
			}			

			var isDefault;
			var launcher = encodeURIComponent('{{queryString.ide}}').replace(/'/g, "''");
			if (launcher) {
				var item;
				if (launcher === "default") {
					item = mru;
					isDefault = true;
				}
				else {
					item = launcher;
				}
				var markerId = '{{queryString.marker}}';
				var triggered = false;
				var u;
				if (markerId) {
					u = $('[data-list-items="{{queryString.marker}}"]').find('[data-ide-moniker="' + item + '"]');
					if (u && u.length) {	
						var $item = $(u[0]);	
						$item.click();

						triggered = true;
						console.log('clicked w/markerId', $item );
					}
				}
				else {
					u = $('[data-list-items]').find('[data-ide-moniker="' + item + '"]');
					if (u && u.length) {						
						var $item = $(u[0]);			
						$item.click();

						triggered = true;
						console.log('clicked wo/markerId', $item);
					}
				}
				
				 if (!triggered && isDefault) {
					createMessage("To open this codemark in your IDE, please select from the list below. ");					 
				}
			}
			
			if (!mru) {
				var isFirefox = typeof InstallTrigger !== 'undefined';
				if (isFirefox) {
					// only firefox has issues with non-install custom protocols
					createInstallBanner();
				}
			}
		})
	</script>	
</body>
</html>
