<!DOCTYPE html>
<html>

<head>
	<title>CodeStream</title>
	<link rel="icon" type="image/png" sizes="32x32" href="https://app.codestream.com/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="https://app.codestream.com/favicon-16x16.png" />
	<link rel="stylesheet" href="/web/styles/web.css?_={{version}}" />
	<script type="text/javascript">
		!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
		analytics.load("{{segmentKey}}");
		analytics.page();
		}}();
	</script>	
</head>
<body>
<script>
	window.analytics.track('Page Viewed', { 'Page Name': 'Codemark' });
</script>
	<div id="root">
		<div class="root-inner">
			<div class="logo-wrapper">
				<img class="logo" src="https://app.codestream.com/static/media/logo.537e3780.png" />
			</div>
			<div class="box">
				<div class="box-content">
					<div>
					   {{#if showComment}}  
						<div class="flex">
							<div class="headshot">
								{{#if emailHash}}								
									<img class="headshot-image"	src="https://www.gravatar.com/avatar/{{emailHash}}?s=36" />
								{{/if}}
							</div>
							<div>
								<div class="posted-on">
									<span class="author">{{username}}</span>
									<span class="time">{{createdAt}}</span>
								</div>
								<div>
									{{#if title}}
									<p class=title>{{title}}</p>
									{{/if}}
									{{#if text}}
									<p class=text>{{text}}</p>
									{{/if}}
								</div>
							</div>
						</div>
					   {{/if}} 

						<div class="box-border box-border-sm">
							{{#if file}}<p class="file">{{file}}</p>{{/if}}
							<div class="code">
								<code class="prettyprint">{{{code}}}</code>
							</div>
						</div>

						{{#if hasProviderButtons}}
						<div>
							<div class="button-group">
								<div class="button-list">
									{{#if codeProvider}}
									<button class="btn btn-sm" onclick='window.analytics.track("Opened On", { Destination: "{{codeProvider}}" }); window.open("{{codeProviderUrl}}", "_blank")'>Open Code on {{codeProvider}}</button>
									{{/if}}
									{{#if threadProvider}}
									<button class="btn btn-sm" onclick='window.open("{{threadProviderUrl}}", "_blank")'>Open Thread on {{threadProvider}}</button>
									{{/if}}
								</div>
							</div>
						</div>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</body>
</html>