<!DOCTYPE html>
<html>

<head>
	<title>CodeStream</title>
	{{> partial_html_head partial_html_head_model}}
	<script>
		history.pushState(null, "CodeStream", location.href.split("?")[0]);
	</script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="https://codestream.com">
			<img alt="CodeStream" class="logo" src="https://images.codestream.com/logos/cs-banner-1764x272.png" />
		</a>
	</nav>
	<div class="container mt-5">
		<div class="row">
			<div class="col-sm-6 offset-sm-3">
				<h1 class="text-center">Sign into CodeStream</h1>
				<p class="text-center">Don't have an account? Get invited to a team first.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 offset-sm-3 col-xs-6 offset-xs-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
				<div class="box-content box-border">
					<form action="/web/signin" method="post">					
						<div class="form-group">
								{{#if error}}
								<div class="error text-center" style="width:100%;">
									{{error}}
								</div>
								{{/if}}
								<input type="hidden" name="finishUrl" value="{{finishUrl}}">
								<input type="hidden" name="teamId" value="{{teamId}}" />
								<input type="hidden" name="_csrf" value="{{csrf}}" />
								<input type="hidden" name="tenantId" value="{{tenantId}}" />
								<div class="form-group">
									<label for="email">Email</label>
									<input class="form-control bg-dark" type="text" name="email" id="email"
										value="{{email}}" />
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input autocomplete="off" class="form-control bg-dark" type="password" name="password"
										id="password" />
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-with-icon">
										<span class="icon float-left">
										{{#with codeStreamIcon}}
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="octicon" viewBox="{{viewBox}}">
											{{{path}}}
											</svg>
										{{/with}}
										</span>	
										<span class="copy">Sign in with CodeStream</span>
										<span class="icon float-right"><svg version="1.1" width="8" height="16" viewBox="0 0 8 16" class="octicon octicon-chevron-right" aria-hidden="true"><path fill-rule="evenodd" d="M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3l5 5z"></path></svg></span>
									</button>
								</div>
							</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 offset-sm-3 col-xs-6 offset-xs-3 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
				<div class="box-content box-border">
					<button class="btn btn-with-icon" onclick="window.location.href='{{gitHubLink}}'">
						<span class="icon float-left">
						{{#with gitHubIcon}}
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="octicon" viewBox="{{viewBox}}">
							{{{path}}}
							</svg>
						{{/with}}
						</span>	
						<span class="copy">Sign in with GitHub</span>
						<span class="icon float-right"><svg version="1.1" width="8" height="16" viewBox="0 0 8 16" class="octicon octicon-chevron-right" aria-hidden="true"><path fill-rule="evenodd" d="M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3l5 5z"></path></svg></span>
					</button>
					<button class="btn btn-with-icon" style="margin-top:15px" onclick="window.location.href='{{oktaLink}}'">
						<span class="icon float-left">
						{{#with oktaIcon}}
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="octicon" viewBox="{{viewBox}}">
							{{{path}}}
							</svg>
						{{/with}}
						</span>	
						<span class="copy">Sign in with Okta</span>
						<span class="icon float-right"><svg version="1.1" width="8" height="16" viewBox="0 0 8 16" class="octicon octicon-chevron-right" aria-hidden="true"><path fill-rule="evenodd" d="M7.5 8l-5 5L1 11.5 4.75 8 1 4.5 2.5 3l5 5z"></path></svg></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>