<!DOCTYPE html>
<html>
<head>
	<title>CodeStream</title>
	<link rel="dns-prefetch" href="https://images.codestream.com">
	<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
	{{> partial_html_head partial_html_head_model}}
	<script type="text/javascript">
		!function () {
			var analytics = window.analytics = window.analytics || []; if (!analytics.initialize) if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice."); else {
				analytics.invoked = !0; analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on"]; analytics.factory = function (t) { return function () { var e = Array.prototype.slice.call(arguments); e.unshift(t); analytics.push(e); return analytics } }; for (var t = 0; t < analytics.methods.length; t++) { var e = analytics.methods[t]; analytics[e] = analytics.factory(e) } analytics.load = function (t, e) { var n = document.createElement("script"); n.type = "text/javascript"; n.async = !0; n.src = "https://cdn.segment.com/analytics.js/v1/" + t + "/analytics.min.js"; var a = document.getElementsByTagName("script")[0]; a.parentNode.insertBefore(n, a); analytics._loadOptions = e }; analytics.SNIPPET_VERSION = "4.1.0";
				analytics.load("{{segmentKey}}");
				analytics.page();
			}
		}();
	</script>
	<script>		 
		window.CODESTREAM = window.CODESTREAM || {};
		window.CODESTREAM.page = {
			type: "errorinbox",
			what: "Error",
			data: {
				id: '{{codemarkId}}',
				repoId: '{{uniqueRepoId}}',
				file: '{{uniqueFileName}}',
				teamId: '{{teamId}}',
				teamName: '{{teamName}}',
				isLink: '{{isLink}}',
				queryStringFull: '{{queryStringFull}}'
			}
		}	 
	</script>
	<style>
		p {
    		margin: auto;
    		width: 100%;
		} 
	</style>
</head>
<body>	
	<!-- 
	{{{identifyScript}}}
	<script>
		window.analytics.track('Page Viewed', { 'Page Name': '{{codemarkType}}' });
	</script> -->

	{{> partial_menu partial_menu_model}}

	<div class="container-fluid" id="root">
		{{> partial_launcher partial_launcher_model}}
		<div class="text-center">
			<h2>Don't have CodeStream? Download for <a href="https://marketplace.visualstudio.com/items?itemName=CodeStream.codestream">VS Code</a>, <a href="https://plugins.jetbrains.com/plugin/12206-codestream-github-gitlab-bitbucket-prs-and-code-review">JetBrains</a> or <a href="https://marketplace.visualstudio.com/items?itemName=CodeStream.codestream-vs">Visual Studio</a></h2>					
			<br>			 			
		</div>	
		<div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-12 offset-xs-0 text-center">			 
			<p style="max-width:643px; text-align: justify">
				<span>CodeStream is a developer collaboration platform that allows developers to easily discuss and review code. 
					Review errors by stepping through the stack trace, and collaborate with teammates on the resolution. 
					All from right inside your IDE.</span>
			</p>
			<br>
			<p>
				<a href="https://placeholder.com"><img class="img-fluid" src="https://via.placeholder.com/639x300/797979/000000?text=Animated+gif+or+short+video+goes+here"></a>						 
			</p>				 
		</div>			 	
	</div>
	{{> partial_scripts_footer}}
</body>
</html>
