<!DOCTYPE html>
<html>

<head>
	<title>CodeStream</title>
	<link rel="icon" type="image/png" sizes="32x32" href="https://images.codestream.com/logos/cs-favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://images.codestream.com/logos/cs-favicon-16x16.png" />
	<link rel="stylesheet" href="/no-auth/web/styles/web.css?_={{version}}" />
</head>

<body>
	<div id="root">
		<div class="root-inner">
			<div class="logo-wrapper">
				<img class="logo" src="https://images.codestream.com/logos/cs-banner-1764x272.png" />
			</div>

			<div class="box">
				<div class="box-content box-content-sm">
					<div class="box-border">
						<h1>Set Password</h1>

						<div class="form-group">
							<p>Enter a new password for {{email}}.</p>
						</div>
						<br />
						<div class="form-wrapper">
							<form method="post">
								{{#if error}}
									<div class="form-group">
										<div class="error" style="width:100%;">{{error}}</span>
									</div>
								{{/if}}
							
								<input type="hidden" name="token" value="{{token}}" />								
								<input type="hidden" name="_csrf" value="{{csrf}}" />										
								<div class="form-group">
									<label class="label">Password</label>
									<input class="form-control" type="password" name="password" />
									<p class="hint">Must be >= 6 characters</p>
								</div>
								<div class="form-group">
									<input type="submit" value="Update Password" class="btn" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
